body{
    background-color:pink ;
    text-align: center;
}

.name_email_pass{
    background-color:rgb(180, 0, 221) ;
    font-size:1.25em ;
    font-weight: bold;
    border: 5px solid rgb(255, 0, 225) ;
    margin-left: 20px ;
    padding: 10px ;
    text-align: left;

    
}

.yes_no{
    background-color: rgb(233, 82, 183);
    font-size: 1em;
    font-weight: bold;
    border: 3px dashed rgb(255, 0, 230);
}

#sub{
    margin-top: 10px;
    height: 60px;
    width: 140px;
    color:rgb(8, 238, 42) ;
    background-color: rgb(182, 13, 197);
    border-radius: 25px;
    font-weight: bold;
    font-size: 1.5em;
}